@mixin myContainer {
  max-width: $containerMaxWidth;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
}

@mixin MyContainer2 {
  max-width: $containerMaxWidth2;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

@mixin MyContainer3 {
  max-width: $containerMaxWidth2;
  width: 100%;
  height: 1100px;
  margin: 0 auto;
}
