header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: $body-color;
  box-shadow: rgb(0, 0, 0) 0px 0px 15px -5px;
  z-index: 4;
  height: 70px;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

nav {
  margin-left: 250px;
}

.nav-bar {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 225px;
}

.menu li {
  padding-left: 25px;
  align-items: center;
  list-style: none;
  position: relative;
  vertical-align: middle;
  margin-top: -80px;
}

.menu li a {
  font-size: 16px;
  color: $main-color;
  font-weight: 700;
}

i:hover {
  color: $i-color;
  transition: all 0.1s ease-in-out;
  pointer-events: auto;
  height: 10px;
}

.menu li a::after {
  content: "";
  position: absolute;
  background-color: $hover-color;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 70px;
  margin-left: 15px;
  transition: all 0.3s;
  pointer-events: none;
}

.menu li a:hover::after {
  width: 100%;
}

.menu li a:hover {
  color: $i-color;
  transition: all 0.3s;
}

.TBC {
  width: 250px;
  margin-top: 15px;
}

.open-menu,
.close-menu {
  position: absolute;
  color: $second-color;
  cursor: pointer;
  font-size: 1.5rem;
  //   display: none;
}
.open-menu {
  margin-top: 10px;
  top: 50%;
  margin-left: -240px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  margin-left: -476px;
}

#check {
  //   display: none;
}

.fa-cart-shopping {
  margin-top: -78px;
  margin-left: 300px;
  color: $main-color;
  font-size: 25px;
}

.fa-location-dot {
  color: $main-color;
  font-size: 25px;
  margin-top: -78px;
  margin-left: 10px;
}

.fa-user {
  color: $main-color;
  font-size: 25px;
  margin-top: -78px;
  margin-left: 10px;
}

.slider {
  padding-top: 100px;
  overflow: hidden;
  margin: 0 auto;
  width: 1800px;
}

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 15s slide infinite 3s;
}

.slide {
  position: relative;
  width: 25%;
  float: left;
}

.slide h1 {
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 400px;
  color: $color-1;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.slide img {
  width: 100%;
}

@keyframes slide {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  55% {
    left: -300%;
  }
  65% {
    left: -200%;
  }
  66% {
    left: -200%;
  }
  74% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

section {
  background-color: $color-1;
  margin-left: 63px;
}

.sec {
  background: $color-2;
  margin-right: 40px;
  margin-top: 70px;
}

.container {
  @include myContainer;
}

h2 {
  font-family: "Arial GEO Bold", sans-serif;
  color: rgb(33, 37, 41);
  padding-top: 50px;
  text-align: center;
  font-size: 2.7rem;
  margin-right: 100px;
  font-family: "BPG Mikheil Stefane", sans-serif;
}

.img-container img {
  width: 380px;
  height: 300px;
  margin-top: 50px;
  margin-left: 30px;
}

.box-container {
  display: flex;
}

.box {
  background-color: $color-1;
  width: 380px;
  height: 120px;
  margin-left: 32px;
}

.line {
  width: 315px;
  height: 2px;
  background-color: #d3d3d3;
  margin-left: 30px;
  margin-top: 35px;
  display: inline-block;
}

.box p {
  height: 1px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 20px;
  width: 100px;
}

.box h3 {
  font-size: 20px;
  height: 1px;
  margin-left: 40px;
  padding-top: 30px;
  font-family: "BPG Mikheil Stefane", sans-serif;
}

.fa-circle-plus {
  color: $main-color;
  height: 1px;
  margin-left: 350px;
  font-size: 24px;
  width: 100px;
  margin-top: -200px;
  display: flex;
}

.img-container2 img {
  width: 380px;
  height: 300px;
  margin-top: 50px;
  margin-left: 30px;
}

.cube {
  margin-left: 560px;
  margin-top: 60px;
  padding-left: 4px;
  padding-top: 5px;
  border: 3px groove $main-color;
  background-color: lightgray;
  width: 150px;
  height: 40px;
  color: $main-color;
}

.cube h2 {
  width: 200px;
  font-size: 12px;
  color: black;
  margin-top: -45px;
  margin-left: -35px;
}

.cube:hover {
  transition: all 0.2s linear;
  background-color: $main-color;
}

.image-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 20px;
}

.photo {
  position: relative;
  overflow: hidden;
}

.photo img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  display: block;
}

.photo:nth-child(8) {
  margin-top: -60px;
}

.photo:nth-child(5) {
  margin-top: 5px;
}

.photo:nth-child(2) {
  margin-top: 30px;
}

.photo:nth-child(6) {
  margin-top: 40px;
}

footer {
  @include MyContainer2;
  background: $body-color;
  box-shadow: rgb(0, 0, 0) 0px 0px 15px -5px;
  margin-right: 40px;
  margin-left: 62px;
}

.foot {
  display: flex;
  flex-direction: column;
}

.foot h1 {
  width: 200px;
  margin-left: 35px;
  font-size: 20px;
  color: #6c6c74;
}

.foot img {
  width: 100px;
  margin-left: 50px;
  margin-top: 15px;
}

.foot h4 {
  font-size: 20px;
  margin-left: 65px;
  margin-top: 15px;
  color: black;
}

.foot .fa-phone {
  width: 200px;
  font-size: 16px;
  padding-top: 15px;
  margin-left: 65px;
  color: #000000;
}

.lenght {
  margin-top: -14px;
  margin-left: 30px;
  font-weight: 700;
}

.foot .fa-location-dot {
  width: 350px;
  font-size: 16px;
  margin-top: -18px;
  margin-left: 250px;
  color: black;
}

.foot2 {
  display: flex;
  flex-direction: column;
  margin-left: 700px;
  margin-top: -300px;
}

.lines {
  width: 180px;
  height: 1px;
  background-color: black;
}

.foot2 h1 {
  padding-bottom: 10px;
  font-size: 20px;
}

.foot2 h4 {
  width: 200px;
  margin-top: 10px;
  font-size: 20px;
  color: black;
}

.foot2 h4:hover {
  transition: all 0.1s;
  color: $i-color;
}

.foot3 {
  display: flex;
  flex-direction: column;
  margin-left: 1100px;
  margin-top: -31px;
}

.foot3 h1 {
  padding-bottom: 10px;
  font-size: 20px;
}

.foot3 h4 {
  margin-top: 10px;
  width: 200px;
  padding-top: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.fonts {
  margin-left: 1400px;
  margin-top: -40px;
  font-size: 28px;
}

.fonts i {
  margin-left: 5px;
  color: $main-color;
}

.fonts i:hover {
  color: $i-color;
  transition: all 0.1s ease-in-out;
  pointer-events: auto;
  height: 10px;
}

.foot3 h4:hover {
  transition: all 0.1s;
  color: $i-color;
}

input[type="text"] {
  padding-left: 20px;
  margin-top: 200px;
  margin-left: 900px;
  width: 340px;
  height: 40px;
  border: 1px black;
  border-style: solid;
  border-radius: 12px;
  font-size: 14px;
  color: black;
  vertical-align: middle;
}

input[type="button"] {
  background-color: $main-color;
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 15px;
  height: 40px;
  vertical-align: middle;
  margin-top: 200px;
}

input[type="button"]:hover {
  background-color: $i-color;
  transition: all 0.2s;
}
