// colors

$body-color: rgb(245, 245, 245);
$main-color: rgb(72, 72, 72);
$second-color: black;
$third-color: #243043;
$forth-color: #818687;
$fifth-color: #8a8787;
$i-color: rgb(100, 99, 99);
// colors
